.fondo3 {
    background-image: url(../img/fondo3.webp);
    background-size: cover;
    background-position: center;
}

.fondo2 {
    background-image: url(../img/fondo2.webp);
    background-size: cover;
    background-position: center;
}

.fondo1 {
    background-image: url(../img/fondo1.webp);
    background-size: cover;
    background-position: center;
}

.title {
    color: #e16a54;
}

.parrafo {
    color: 	#f39e60;
}

.linediv {
    border: none;
    height: 5px;
    background-color:   #8494be;
}